@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
:root {
  --color-green: rgb(12, 121, 56);
  --color-green-dark: rgb(20, 82, 44);
  --color-yellow: #ffa507;
  --color-gray: #e7eaef;
  --color-gray-dark: #818181;
  --color-white: #fff;
  --color-black: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alexandria", sans-serif;
  direction: rtl;
  overflow-x: hidden;
  max-width: 1600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* disable the highlight */
}

/* to prevent blue background form moblile */
a:focus {
  outline: none !important;
}

.flex-column,
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

/**************************/
/* live */
/**************************/
.live {
  background-image: url(img/back.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 4rem 2rem;
  gap: 3rem;
}

.live-title {
  color: var(--color-green);
  margin: 2rem 0;
  font-size: 1.7rem;
}
.live-btns {
  gap: 2rem;
  flex-wrap: wrap;
}
.live-btn {
  /* width: 80%; */
  background: var(--color-white);
  border: none;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--color-green);
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: 3px 3px 0px 0px var(--color-green);
  cursor: pointer;
  /* white-space: nowrap; */
  transition: all 0.3s;
}
.live-btns .live-btn.active {
  color: var(--color-white);
  background: var(--color-green);
  box-shadow: 3px 3px 0px 0px var(--color-green-dark);
}

.live-btns .live-btn:hover {
  color: var(--color-white);
  background: var(--color-green);
  box-shadow: 3px 3px 0px 0px var(--color-green-dark);
}

.live-box {
  max-width: 1200px;
  width: 100%;
}
.live-info {
  background: var(--color-white);
  border: solid 2px var(--color-green);
  padding: 2rem;
  width: 100%;
  gap: 2rem;
  /* display: none; */
}
.live-info-items {
  gap: 2rem;
  align-items: flex-start;
  width: 100%;
}
.live-info-item {
  gap: 2rem;

  /* margin-right: -50px; */
}
.live-question,
.live-info-item-title {
  background: var(--color-green);
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  box-shadow: 1px 4px 0px 0px var(--color-green-dark);
  font-size: 1rem;
  color: var(--color-white);
  padding: 0.5rem 1rem;
}
.live-info-item-title {
  /* width: 100px; */
  gap: 1rem;
  padding-right: 1.5rem;
}
.live-info-item-title .bi {
  font-size: 1.5rem;
}
.live-info-item-name {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-black);
}
.live-audio {
  height: 50px;
  width: 100%;
}
.live-news {
  color: var(--color-gray-dark);
  width: 100%;
  overflow: hidden;
}
.live-news p {
  animation: movement 20s infinite;
  white-space: nowrap;
}
.live-video {
  width: 100%;
  height: 50vh;
}
.live-question {
  padding: 0.5rem 2rem;
  border: solid 1px transparent;
  font-size: 1.1rem;
  transition: all 0.3s;
}
.live-question:hover {
  color: var(--color-green);
  background: var(--color-white);
  border: solid 1px var(--color-green);
}
.live-previous {
  margin-top: 2rem;
}
.hidden {
  display: none;
}
.block {
  display: block;
}

.live-share {
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.live-share-btn {
  font-size: 1.1rem;
  cursor: pointer;
  font-family: inherit;
}
.live-share-result {
  position: absolute;
  bottom: -35px;
  left: 10px;

  height: 25px;
  font-family: inherit;
}
@keyframes movement {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(100vw);
  }
}
@keyframes upDown {
  0% {
    height: 20%;
  }

  100% {
    height: 50%;
  }
}

/**************************/
/* --------media queries --------- */
/**************************/
@media (max-width: 1326px) {
}

@media (max-width: 1226px) {
}

/**************************/
/* --------media queries --------- */
/**************************/

@media (max-width: 900px) {
}

/**************************/
/* --------media queries --------- */
/**************************/
@media (max-width: 704px) {
  .live-btn {
    width: 100%;
  }
  .live-info-item {
    /* gap: 2rem; */
    /* margin-right: -5rem; */
  }
}

/**************************/
/* --------media queries --------- */
/**************************/
@media (max-width: 600px) {
  .live-info-items {
    align-self: flex-start;
  }

  .live-info-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .live-info-item-title {
    margin-right: -25px;
    padding: 0.4rem 1.4rem 0.4rem 1rem;
  }
  .live-btn {
    font-size: 1.2rem;
  }
  .live {
    padding: 2rem 1.5rem;
  }
  .live-info {
    padding: 1rem 5px 2rem 5px;
  }
  .live-info-item-name {
    font-size: 1.1rem;
  }
  .live-share {
    flex-direction: column;
  }
  .live-share .live-question {
    width: 85%;
    text-align: center;
  }
  .live-info-item-title .bi {
    font-size: 1.3rem;
  }
}
